<student-dashboard></student-dashboard>
<div class="container"data-ng-controller="introVideoController" >
    <div class="col-md-9">

        <div class="panel panel-default" style=" border-color:lightcyan;margin-top: 1px;">


            <div class="row" id="introfirstrow">

                <div class=" col-md-4 col-xs-6 col-sm-4"  style="padding-left: 28px;"><p class="text-headline margin-none "id="videoIntro" style="font-weight:bold;font-size: 18px;">Video Quiz</p>
                </div>
                <div class=" col-md-4 col-xs-4  hidden-xs hidden-sm-down" ><p class="text-headline margin-none "id="quesintro" style="font-weight:bold;font-size: 18px;">Total Questions: 15</p>
                </div>
                <!--<div class=" col-md-4 col-xs-6 col-sm-4"align="center" ><p class="text-headline margin-none " style="font-weight:bold;font-size: 18px;">Subject Name</p>
                </div>-->
                <div class=" col-md-4 col-xs-6 col-sm-4"align="right" id="subjectname"><p class="text-headline margin-none " style="font-weight:bold;font-size: 18px;padding-right:28px;">subject name</p>
                </div>
            </div>


        </div>
        <div class="panel panel-default" style="border-color:lightcyan;margin-top: -19px;">
            <div class="media v-middle" id="typediv">
                <div class="row" id="secondrow" style="margin-top:5px;">
                    <div class="hidden-xs col-md-3 col-xs-3 col-sm-3" style="font-size:17px;padding-left: 24px; "><strong>Question:3/15</strong></div>
                    <div class=" col-md-7 col-xs-8 col-sm-7"id="progressintro"> <div class=" progress"style="margin-left: 16px;">
                <span class="progress-bar progress-bar-striped active" role="progressbar" ng-model="determinateValue"
                      aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': determinateValue + '%'}"style="width:30%">3/15</span>
                        <span class="sr-only">30% completed</span>
                        </span>
                    </div></div>
                    <div class="col-md-2 col-xs-4 col-sm-2"id="timercontrol"  style="font-size:17px; color:red; padding-left: 30px;"><span class="glyphicon glyphicon-time"style="top: 3px;"  ></span>
                        <span >01:59</span>
                    </div>

                </div>
            </div>

        </div>
        <div class="panel panel-default" style="border-color:lightcyan;margin-top: -19px;">
            <div class=" panel-body">
                <p >what is javascript? explain? </p>

            </div>
            <hr style="border-color:lightcyan;">

            <div class="panel-body"
                 data-z="0.5">
                <div class="media">

                    <div class="media-body">
                        <img src="assets\images\keep-calm-it-s-quiz-time-6.png" alt="Smiley face" height="300" width="100%">
                        <!--<video id="gum-local" ng-src="{{videostream}}" muted="true" autoplay   >

                        </video>-->

                    </div>

                </div>
            </div>

            <div class="panel-footer"style="border-color:lightcyan">
                <div class="text-right">
                    <button class="btn btn-primary"id="nextintro" ng-click="nextQuestion()"
                            ng-hide="count14"><i
                            class="fa fa-chevron-right fa-fw"></i> Next Question
                    </button>
                    <button class="btn btn-warning" ng-click="start()" id="start-demo">Start Demo</button>

                </div>

            </div>
        </div>
        </div>
    </div>