<student-dashboard></student-dashboard>
<profile-data></profile-data>
<div class="container" >
    <div class="page-section">
        <div class="row">
            <!--<div class="parallax overflow-hidden bg-blue-400 page-section third" data-ng-controller="socialcontroller">
                <div class="container parallax-layer" data-opacity="true">
                    <div class="media v-middle">
                        <div class="media-left text-center">
                            &lt;!&ndash;<a href="#">
                                <img ng-src="{{myimage}}" alt="people" class="img-circle width-80" />
                            </a>&ndash;&gt;
                        </div>
                        <div class="media-body">
                            <h1 class="text-white text-display-1 margin-v-0">Challanges</h1>
                           &lt;!&ndash; <p class="text-subhead"><a class="link-white text-underline" href="website-student-public-profile.html">View public profile</a></p>&ndash;&gt;
                        </div>
                        <div class="media-right">
                            <span class="label bg-blue-500">Candidate</span>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-md-9" data-ng-controller="myChallengesController">
                <mychallange-table></mychallange-table>
            </div>
            <div class="col-md-3">
                <student-side-menu></student-side-menu>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <footer></footer>
</footer>





