<div class="cls-content">
    <div id="viewMoreDataDiv1" class="cls-description-content">
		<span>
			{{customdata}}
		</span>
    </div>

    <div id="viewMoreDiv1" style="color: #81bd00;">
        <hr style="margin-bottom: 10px;" />

        <div id="viewMore1">
            <span class="vmbtn" align="center" ng-click="showMore(1)">View more</span>
        </div>
        <div id="viewLess1" hidden="hidden">
            <span class="vmbtn" align="center" ng-click="showLess(1)">View less</span>
        </div>
    </div>
</div>