<!--<div ui-view class="ui-view-main ng-scope">
<div data-ui-view class="ui-view-main ng-scope">
<div class="split-vertical col-md-9 panel" >-->
<!--<div class="page-section half bg-white">
    &lt;!&ndash;<div class="container">
        <div class="section-toolbar">
            <div class="cell" style="height: 20px;">
                <div class="media width-200 v-middle margin-none">
                    <div class="media-left">
                        <p class="text-headline margin-none" style=" font-family: FontAwesome;color: green;font-weight: bolder;font-size: 15px"  >Choice Quiz</p>
                    </div>
                </div>
            </div>
            <div class="cell"  style="height: 20px;">
                <div class="media width-120 v-middle margin-none">
                    <div class="media-left">
                        <div class="icon-block bg-grey-200 s30"><i class="fa fa-question"></i></div>
                    </div>
                    <div class="media-body">
                        <p class="text-body-2 text-light margin-none">Questions</p>
                        <p class="text-title text-primary margin-none">{{questionCount}}</p>
                    </div>
                </div>
            </div>
            <div class="media width-600 v-middle margin-none"  style="height: 20px;">
                <div class="media">
                    <div align="left" class="icon-block img-circle bg-indigo-300 half text-white" style="margin-left: 15px;margin-bottom: 15px;display: block"><i
                            class="{{iconurl}}"></i></div>
                        <div class="text-headline" style="font-family: FontAwesome; color:green;font-weight: bolder; margin-top: -45px;margin-left: 100px"><strong>{{subjectName}}</strong></div>
                </div>
            </div>
        </div>
    </div>&ndash;&gt;
    <div class="container">
        <div class="section-toolbar">
            <div class="cell">
                <div class="media width-120 v-middle margin-none">
                    <div class="media-left">
                        <div class="icon-block bg-grey-200 s30"><i class="fa fa-question"></i></div>
                    </div>
                    <div class="media-body" style="text-align: center">
                        <p class="text-body-2 text-light margin-none" >Questions</p>
                        <p class="text-title text-primary margin-none">25</p>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="media width-120 v-middle margin-none">
                    <div class="media-left">
                        <div class="icon-block bg-grey-200 s30"><i class="fa fa-diamond"></i></div>
                    </div>
                    <div class="media-body">
                        <p class="text-body-2 text-light margin-none">Score</p>
                        <p class="text-title text-success margin-none">800 pt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>-->
    <div class="page-section half bg-white">
        <div class="container" style="height: 68px;margin-top: -18px">
            <div class="section-toolbar" style="margin-bottom: -14px">
                <div class="cell">
                    <div class="media width-120 v-middle margin-none">
                        <!--<div class="media-left">
                            <div class="icon-block bg-grey-200 s30"><i class="fa fa-question"></i></div>
                        </div>-->
                        <div class="media-body">
                            <p class="text-body-2 text-light margin-none" style=" font-family: FontAwesome;color: green;font-weight: bolder;font-size: 15px;padding-bottom: 16px" >Choice Quiz</p>
                           <!-- <p class="text-title text-primary margin-none">25</p>-->
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="media width-120 v-middle margin-none">
                        <div class="media-left">
                            <div class="icon-block bg-grey-200 s30" style="    background-color: #42a5f5; color: white"><i class="fa fa-question"></i></div>
                        </div>
                        <div class="media-body">
                            <p class="text-body-2 text-light margin-none">Questions</p>
                            <p class="text-title text-success margin-none" style="color: #42a5f5;padding-bottom: 16px">{{questionCount}}</p>
                        </div>
                    </div>
                </div>
                    <div class="media  v-middle margin-none" style="width: 100%">
                        <div class="media-left">
                            <div class="icon-block bg-grey-50 s20 half text-white" style="border-radius: 20px;background-color: #42a5f5;height: 40px;width:40px"><i class="{{iconurl}}"></i></div>
                        </div>
                        <div class="media-body">
                            <p class="text-body-2 text-light margin-none" style=" font-family: FontAwesome;color: green;font-weight: bolder;font-size: 15px;padding-bottom: 16px">{{subjectName}}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
<!--
</div>
</div>
</div>-->
