<div class="panel-body" ng-show="showResults" style="width: 100px; height: 100px"
     data-z="0.5">
    <!--<ul class="list-group">
        <li class="list-group-item media v-middle">
            <div class="media-body">
                <p class="text-justify">
                    <strong style="alignment: center">Result              </strong><br/>
                        -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br/>
                    <strong>Subject                    :{{subjectName}}</strong><br/>
                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br/>
                    <strong>Total Attempted            :{{atemptedQuestions}}</strong><br/>
                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br/>
                    <strong>Total Correct Answers      :{{correctAnswers}}</strong><br/>
                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br/>
                    <strong>Total Time                 :{{totalTime}} Sec</strong><br/>
                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;
                </p></div></li></ul>-->

      <!--  <pie-chart data="pieData" options="options"></pie-chart>-->



</div>


<footer class="footer">
    <footer></footer>
</footer>
