

<div class=" col-md-9 panel panel-default" ng-show="questioncountshow"style="margin-top:2px;  border-color:lightcyan;margin-bottom: 10px;">
    <div class="row" id="firstdiv" style="margin-top: 5px">
        <div class=" col-md-4 col-xs-5 col-sm-4"  style="padding-left: 6px;"><p class="text-headline margin-none " style="padding-bottom: 15px;font-size: 18px; font-family: FontAwesome;font-weight:bold;color: #1b93f3;">Video Quiz</p>
        </div>
        <div class=" col-md-4 col-xs-4  hidden-xs hidden-sm-down"align="center" ><p class="text-headline margin-none " style="font-weight:bold;font-size: 18px;font-family: FontAwesome;padding-right:57px;color: #1b93f3;">Total Questions: 10</p>
        </div>
        <div class=" col-md-4 col-xs-6 col-sm-4 hidden-xs"align="right" ><p class="text-headline margin-none " style="font-weight:bold;font-family: FontAwesome;padding-right:13px;color: #1b93f3;font-size: 18px;">{{subjectName}}</p>
        </div>
        <div class=" col-md-4 col-xs-6 col-sm-4 visible-xs"align="center" ><p class="text-headline margin-none " style="color: #1b93f3;font-family: FontAwesome;font-weight:bold;font-size: 18px;">{{subjectName}}</p>
        </div>
       <!-- <div class="col-md-4 col-xs-7 col-sm-4"align="center" ><p class="text-headline margin-none " style=" font-family: FontAwesome;font-size: 18px;font-weight:bold;color: #1b93f3;">{{subjectName}}</p>
        </div>
        <div class=" col-md-4 col-xs-7 col-sm-4"align="center" ><p class="text-headline margin-none " style=" font-family: FontAwesome;font-size: 18px;font-weight:bold;color: #1b93f3;">{{subjectName}}</p>
        </div>
-->
    </div>
    </div>









